<div class="modal fade" id="confirmationModal-{{ id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Usuwanie</h4>
                <p>Czy na pewno chcesz anulować tę rezerwację?</p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="btn btn-sm btn-default" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Nie
                </a>
                <a href="{{ path('delete_consultation_reservation', {id: id}) }}"
                   class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i> Tak
                </a>
            </div>
        </div>
    </div>
</div>
