<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Edytowanie</h4>
                <p>Konsultacja posiada już zarezerwowane terminy.</p>
                <p><i>Niektóre rezerwacje dokonane przez studenów mogą zostać usunięte!</i></p>
            </div>
            <div class="modal-footer">
                <a href="#"
                   class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Anuluj
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-calendar-check" aria-hidden="true"></i> Zapisz
                </button>
            </div>
        </div>
    </div>
</div>
