{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Konsultacja</a>
            </li>
            <li class="breadcrumb-item active">Edycja</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-check" aria-hidden="true"></i>
                Konsultacja {{ consultation.getStartDay() }}, {{ consultation.getHoursPeriod() }}
                ({{ consultation.room }})
            </div>
            <div class="card-body">
                {{ include('consultation/_form.html.twig', {
                    form: form,
                    consultation: consultation
                }, with_context = false) }}
            </div>
        </div>
    </div>
{% endblock %}

