{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Konsultacja</a>
            </li>
            <li class="breadcrumb-item active">Edycja</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                Zedytuj istniejącą konsultacje
            </div>
            <div class="card-body">
                {{ include('consultation/_form.html.twig', {
                    form: form
                }, with_context = false) }}
            </div>
        </div>
    </div>
{% endblock %}

