<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Dashboard{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% include 'layout/navbar.html.twig' %}

<div id="wrapper">

    <!-- Sidebar -->
    {% if is_granted("ROLE_ADMIN") %}
        {% include 'layout/sidebar-admin.html.twig' %}
    {% else %}
        {% include 'layout/sidebar-user.html.twig' %}
    {% endif %}
    <div id="content-wrapper">
        {% include 'layout/message.html.twig' %}

        {% block body %}

        {% endblock %}

        <!-- Sticky Footer -->
        {% include 'layout/footer.html.twig' %}
    </div>
    <!-- /.content-wrapper -->
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include 'layout/_logout_confirmation.html.twig' %}
<!-- Logout Modal-->
</html>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}






