{% extends 'dashboard.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <!-- Icon Cards-->
{#        {% include 'dashboard/_partials/cards.html.twig' %}#}

        {% if is_granted("ROLE_ADMIN") %}
            {% include 'dashboard/_partials/table-admin.html.twig' %}
        {% else %}
            {% include 'dashboard/_partials/table-user.html.twig' %}
        {% endif %}
    </div>
    <!-- /.container-fluid -->

{% endblock %}