<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © System Konsultacji 2019</span><br/>
            <span>Kamil Rżany</span>
        </div>
    </div>
</footer>