<ul class="sidebar navbar-nav">
    <li class="nav-item {% if app.request.get('_route') == 'dashboard' %}active{% endif %}">
        <a class="nav-link" href="{{ path('dashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    {% set active = app.request.get('_route') in [
        'consultations', 'add_consultation', 'show_consultation', 'edit_consultation'
    ] %}
    <li class="nav-item dropdown {% if active %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Konsultacje</span>
        </a>
        <div class="dropdown-menu {% if active %}show{% endif %}" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="{{ path('add_consultation') }}">Dodaj</a>
            <a class="dropdown-item" href="{{ path('consultations') }}">Lista</a>
        </div>
    </li>
</ul>